@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      // 預設主題色 - 修改此值時需同步修改 src/settings.ts 中的 themeColor
      "base": #4080ff,
    ),
    "success": (
      "base": #23c343,
    ),
    "warning": (
      "base": #ff9a2e,
    ),
    "danger": (
      "base": #f76560,
    ),
    "info": (
      "base": #a9aeb8,
    ),
  ),

  $bg-color: (
    "page": #f5f8fd,
  )
);

/** 全域性SCSS變數 */

:root {
  --menu-background: #fff; // 選單背景色
  --menu-text: #212121; // 選單文字顏色 淺色主題-白色側邊欄配色下僅佔位，實際顏色由 el-menu-item 元件決定
  --menu-active-text: var(
    --el-menu-active-color
  ); // 選單啟用文字顏色 淺色主題-白色側邊欄配色下僅佔位，實際顏色由 el-menu-item 元件決定

  --menu-hover: #e6f4ff; // 選單懸停背景色 淺色主題-白色側邊欄配色下僅佔位，實際顏色由 el-menu-item 元件決定
  --sidebar-logo-background: #f5f5f5; // 側邊欄 Logo 背景色
  --sidebar-logo-text-color: #333; // 側邊欄 Logo 文字顏色
}

/** 淺色主題-深藍色側邊欄配色 */
html.sidebar-color-blue {
  --menu-background: #304156; // 選單背景色
  --menu-text: #bfcbd9; // 選單文字顏色
  --menu-active-text: var(--el-menu-active-color); // 選單啟用文字顏色
  --menu-hover: #263445; // 選單懸停背景色
  --sidebar-logo-background: #2d3748; // 側邊欄 Logo 背景色
  --sidebar-logo-text-color: #fff; // 側邊欄 Logo 文字顏色
}

/** 暗黑主題 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;

  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 淺色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 較深的邊框顏色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的邊框顏色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 淺灰色，用於不那麼重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一點的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 選中元素時的高亮邊框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按鈕或互動元素的背景色 */

  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具欄文字顏色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具欄背景顏色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 當前啟用項的文字顏色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 當前啟用項的背景顏色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用項的顏色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具欄邊框顏色 */

  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 彈出框按鈕背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 彈出框按鈕邊框顏色 */
}

$menu-background: var(--menu-background); // 選單背景色
$menu-text: var(--menu-text); // 選單文字顏色
$menu-active-text: var(--menu-active-text); // 選單啟用文字顏色
$menu-hover: var(--menu-hover); // 選單懸停背景色
$sidebar-logo-background: var(--sidebar-logo-background); // 側邊欄 Logo 背景色
$sidebar-logo-text-color: var(--sidebar-logo-text-color); // 側邊欄 Logo 文字顏色

$sidebar-width: 210px; // 側邊欄寬度
$sidebar-width-collapsed: 54px; // 側邊欄收縮寬度
$navbar-height: 50px; // 導航欄高度
$tags-view-height: 34px; // TagsView 高度
